//colors
$color-sea-blue: #eff5ff;
$color-sea-blue-alt: #bee2fd;
$color-dark-blue: #022959;
$color-blue: #164a8a;
$color-grey: #9699aa;
$color-light-grey: #d6d9e6;
$color-light-grey-alt: #f8f9ff;
$color-purple: #483eff;
$color-light-purple: #928cff;
$color-lilac: #abbcff;
$color-red: #ee374a;

//font
$font-family: 'Ubuntu', sans-serif;
