.comment:first-of-type > *:first-child {
  margin: 0;
}

.comment-score {
  height: fit-content;
  background-color: var(--color-very-light-gray);
}

.comment-score span {
  color: var(--color-moderate-blue);
}

.comment-profile h6 {
  color: var(--color-dark-blue);
}

.comment-profile span {
  background-color: var(--color-moderate-blue);
}

.comment-profile p {
  color: var(--color-grayish-blue);
}

.comment-controls-danger:hover,
.comment-controls-normal:hover,
.comment-controls-button:hover {
  opacity: 0.5;
}

.comment-controls-danger {
  color: var(--color-soft-red);
}

.comment-controls-normal {
  color: var(--color-moderate-blue);
}

.comment-controls-button {
  background-color: var(--color-moderate-blue);
}

.comment-body span {
  color: var(--color-moderate-blue);
}

.comment-body p {
  color: var(--color-grayish-blue);
}

.comment-replies::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: var(--color-light-gray);
}

.comment-body textarea,
.post-item textarea,
.reply-item textarea {
  border: 1px solid var(--color-moderate-blue);
  color: var(--color) --color-dark-blue;
}

@media all and (min-width: 375px) {
  .comment-replies::before {
    left: 35px;
  }
}
