:root {
  --color-white: #fff;
  --color-very-light-gray: #f5f6fa;
  --color-light-gray: #e9ebf0;
  --color-dark-blue: #334253;
  --color-moderate-blue: #5357b6;
  --color-grayish-blue: #67727e;
  --color-light-grayish-blue: #c5c6ef;
  --color-soft-red: #ed6368;
  --color-pale-red: #ffb8bb;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-very-light-gray);
}
