.modal h2 {
  color: var(--color-dark-blue);
}

.modal p {
  color: var(--color-grayish-blue);
}

.modal-controls-normal {
  background-color: var(--color-grayish-blue);
}

.modal-controls-danger {
  background-color: var(--color-soft-red);
}
